backports.ssl-match-hostname
certifi
chardet
defusedxml
Django
django-dajax
django-dajaxice
futures
idna
mysqlclient
oauthlib
pexpect
ptyprocess
PyJWT
PyMySQL
python-openid
python-social-auth
python-utils
python3-openid
pytz
requests
requests-oauthlib
simplejson
six
social-auth-app-django
social-auth-core
tornado
urllib3

