/* Skeleton Overide */
.clearfix {
    clear: both;
}
select {
    display: inline;
    margin-bottom: 15px;
    min-width: 220px;
    max-width: 100%;
    width: auto;
}
.CodeMirror {
    height: 99%;
}
/* Main Styles */
body, html {
    border: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    position: relative;
    width: 100%;
}
#topbar {
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
    background: #4E3419;
    color: #ffffff;
    font-family: monospace;
}
#topbar #home-logo {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 30px;
}
#topbar #title {
    position: absolute;
    left: 55px;
    top: 15px;
    font-size: 1.3em;
}
#navlinks ul {
    float: right;
    color: #ffffff;
    margin-right: 15px;
}
#navlinks ul li {
    margin: 16px 15px 15px 15px;
    float: left;
}
#navlinks ul li a{
    margin:0;
    text-decoration: none;
    color: #ffffff;
}
#navlinks #scilab-logo {
    width: 90px;
    margin: 5px 0 0 0;
}
#selectors {
    margin: 0 15px 0 15px;
}
#selectors label {
    display: inline-block;
    min-width: 100px;
}
#content {
    position: absolute;
    top: 300px;
    bottom: 20px;
    width: 100%;
    min-height: 300px;
    bottom: 50px;
    background: #eeeeee;
}
#input {
    position: absolute;
    top: 5px;
    bottom: 60px;
    left: 15px;
    width: 48%;
    height: auto;
}
#output {
    position: absolute;
    top: 5px;
    bottom: 60px;
    right: 15px;
    width: 48%;
    height: auto;
}
#controls {
    position: absolute;
    right: 0px;
}
#review-link {
    position: absolute;
    right: 40px;
}
#controls a {
    text-decoration: none;
}
#controls img {
    width: 12px;
    margin: 0 0 0 5px;
}
#input textarea, #output textarea{
    position: absolute;
    width: 100%;
    height: 99%;
    font-size: 100%; 
    font-family: inherit;
}
#execute, #execute-revision {
    position: absolute;
    left: 15px;
    bottom: -15px;
}
#submit-revision, #push {
    position: absolute;
    left: 95px;
    bottom: -15px;
}
#remove {
    position: absolute;
    left: 200px;
    bottom: -15px;
}
#bug {
    position: absolute;
    right: 15px;
    bottom: -15px;
}
#credits {
    position: absolute;
    bottom: -50px;
    width: 100%;
    height: 50px;
    background: #4E3419;
    color: #ffffff;
    font-family: monospace;
    text-align: center;
}
#credits small {
    font-size: .6em;
    display: block;
}

#databox-wrapper,
#node-wrapper,
#bug-form-wrapper, 
#submit-revision-wrapper,
#submit-revision-error-wrapper,
#diff-wrapper {
    padding: 35px;
    background: #ffffff;
    -webkit-box-shadow: 0 0 10px #ffffff;
       -moz-box-shadow: 0 0 10px #ffffff;
         -o-box-shadow: 0 0 10px #ffffff;
            box-shadow: 0 0 10px #ffffff;
}
#databox-wrapper,#node-wrapper, {
    max-width: 400px;
}
#databox-wrapper,#node-wrapper, p {
    text-align: justify;
}
#submit-revision-wrapper, #submit-revision-error-wrapper{
    display: none;
}
a.extra-link {
    float: right;
    color: #aaaaaa;
    display: none;
}
.ajax-loader {
    position: relative;
    display: inline-block;
    top: 1px;
    left: 5px;
    width: 16px;
    height: 11px;
    background: url("../images/ajax-loader.gif");
    background-size: cover;
}
table  {
    border: 1px solid #cccccc;
}
table td {
    padding: 5px 10px;
    border: 1px solid #cccccc;
}
.error {
    border: 2px solid tomato !important;
}
#bug-form {
    width: 400px;
}
#bug-form .wrapper {
    margin-bottom: 15px;
}
#bug-form input[type=text],
#bug-form select,
#bug-form textarea{
    width: 80%;
    max-width: none;
    margin-bottom: 0;
}
#bug-form #id_email_wrapper {
   /* display: none;*/
}
#bug-form #non-field-errors .error-message{
    border: 1px solid tomato;
    width: 80%;
    padding: 5px;
}

#revisions-one, #revisions-two {
    float: left;
}

#revisions-two {
    position: absolute;
    left: 400px;

.req {
    color: red;
}
