{% load static %}
{% if revisions %}

	<div class="expand-btn" id="fullscreen-code">
			<span class="fa fa-expand"></span>
	</div>
	<br style="display: none" class="ex_id" id="{{ exid }}" />
	<div class="styled-select slate" id="revisions-one">
		<select id="revisions">
			<option value="">Select a revision</option>
			{% for revision in revisions %}
		    	<option value="{{ revision.sha }}">{{ forloop.counter }} - {{ revision.commit.message }}</option>
			{% endfor %}
		</select>
	</div>
	vs
	<div class="styled-select slate" id="revisions-two">
		<select id="revisions-diff">
			<option value="">Compare with</option>
			{% for revision in revisions %}
			    <option value="{{ revision.sha }}">{{ forloop.counter }} - {{ revision.commit.message }}</option>
			{% endfor %}
		</select>
	</div>
	<a id="execute" class="btn btn-blue btn-white btn-execute noud">EXECUTE <span class="fa fa-gears"></span></a>
	<a id="review" class="btn btn-blue btn-white btn-execute noud" href="#" target="_blank" style="display: none"><span class=""></span></a>

{% endif %}
<script src="{% static 'website/js/jquery-1.10.2.min.js' %}"></script>
<script>
		window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
</script>
<script src="{% static 'website/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/lightbox_me.js'%}"></script>
