{% load static %}
  <img src="{% static 'website/images/scilab-app-logo.svg' %}" class="full-width padding-logo" />
    <h2 class="icon icon-display">Chapters</h2>
    <ul class="scrollid">
{% for chapter in chapters %}
<li >
    <a id="{{ chapter.id }}" href="#" class="chapa" onclick = "show_examples(this)">
         {{ chapter.number }} - {{ chapter.name }}
    </a>
</li>
{% endfor %}

</ul>
<script src="{% static 'website/js/jquery-1.10.2.min.js' %}"></script>
<script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
</script>
<script src="{% static 'website/js/jquery.nicescroll.js' %}"></script>
<script>
  $(document).ready(function() {
    $(".scrollid").niceScroll();
  });
</script>
