
                        <label>Book: </label>
                        <select id="books">
                            <option value="">Select Book </option>
                            {% for book in books %} {% if book_id == book.id %}
                            <option value="{{ book.id }}" selected>{{ book.book }} (by {{ book.author }})</option>
                            {% else %}
                            <option value="{{ book.id }}">{{ book.book }} (by {{ book.author }})</option>
                            {% endif %} {% endfor %}
                        </select>
<a href="#" class="extra-link" id="download-book">Download Book</a>
