<h6><u>Contributor details</u></h6>
<table>
    <tbody>
        <tr>
            <td>Contributor name</td>
            <td><span id="full_name"></span></td>
        </tr>
        <tr>
            <td>Mentor</td>
            <td><span id="faculty"></span></td>
        </tr>
        <tr>
            <td>Book Reviewer</td>
            <td><span id="reviewer"></span></td>
        </tr>
        <tr>
            <td>College</td>
            <td><span id="university"></span></td>
        </tr>
    </tbody>
</table>
