<form id="bug-form" action="" method="POST" accept-charset="utf-8"> {% csrf_token %}
    {{ form.example }}
    <div id="non-field-errors">
    </div>
    <div id="id_issue_wrapper" class="wrapper">
        <label>Type of issue:</label>
        {{ form.issue }}
    </div>

    <div id="id_description_wrapper" class="wrapper">
        <label>Description:</label>
        {{ form.description }}
    </div>

    <div id="id_notify_wrapper" class="wrapper">
        <label>{{ form.notify }} I want to be notified.</label>
    </div>

    <div id="id_email_wrapper" class="wrapper">
        <span id="email-wrapper">
            {{ form.email.errors }}
            <label>Email:</label>
            {{ form.email }}
        </span>
    </div>
    <input type="submit" id="bug-form-submit">
</form>
