{% load static %}

<!-- <script src="{% static 'website/js/jquery-1.10.2.min.js' %}"></script> -->
<script src="{% static '/static/dajax/jquery.dajax.core.js' %}"></script>
<script src="{% static 'website/js/codemirror.js'%}"></script>
<script src="{% static 'website/js/javascript.js'%}"></script>
<script src="{% static 'website/js/fullscreen.js'%}"></script>
<script src="{% static 'website/js/placeholder.js'%}"></script>
<script src="{% static 'website/js/lightbox_me.js'%}"></script>
<script src="{% static 'website/js/jsdiff.js'%}"></script>
