{% load static %}
{% load dajaxice_templatetags %}

<head>
    <title>Scilab on Cloud</title>
    <script
  src="https://code.jquery.com/jquery-1.11.0.js"
  integrity="sha256-zgND4db0iXaO7v4CLBIYHGoIIudWI5hRMQrPB20j0Qw="
  crossorigin="anonymous"></script>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="{% static 'website/bootstrap/js/bootstrap.js'%}"></script>
    <script src="{% static 'website/bootstrap/js/bootstrap.min.js'%}"></script>
    <link href="{% static 'website/bootstrap/css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/css/base.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/css/codemirror.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/css/fullscreen.css'%}" rel="stylesheet"/>
    <link href="{% static 'website/css/monokai.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/css/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/css/review-interface.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'website/images/favicon.ico' %}"/>

</head>
