{% load static %}

<head>
    <title>Scilab on Cloud</title>
    <script src="{% static 'website/bootstrap/js/jquery-1.11.0.js' %}"></script>
    <script src="{% static 'website/bootstrap/js/jquery-1.11.0.min.js' %}"></script>

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="{% static 'website/bootstrap/js/bootstrap.js'%}"></script>
    <script src="{% static 'website/bootstrap/js/bootstrap.min.js'%}"></script>
    <link href="{% static 'website/bootstrap/css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/css/base.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/css/codemirror.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/css/fullscreen.css'%}" rel="stylesheet"/>
    <link href="{% static 'website/css/monokai.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/css/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/css/review-interface.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'website/images/favicon.ico' %}"/>
    <meta name="title" content="Scilab computational resource, Scilab high performance computing on demand">
    <meta name="description" content="Scilab on Cloud facilitates execution of the codes for particular example(s) online. The results can then be verified with the solved example(s) from the textbook. It is also possible to change the values of the variables and in fact, the code itself, and execute it. In addition to the given examples, one can also copy and paste (or) write a new code in the input box provided and execute the same.">
    <meta name="keywords" content="scilab on cloud,scilab online execute,scilab online compiler,scilab computation,calcul scientifique,numerical computation,scilab computing online,scilab calculator">
</head>
