{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scilab on cloud</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'website/bootstrap-4.1.0/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/custom.css' %}">
    <link href="{% static 'website/css/codemirror.css' %}" rel="stylesheet" />
    <link href="{% static 'website/css/fullscreen.css'%}" rel="stylesheet" />
    <link href="{% static 'website/css/monokai.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{% static 'website/images/favicon.ico' %}" />
    <script src="{% static 'website/bootstrap-4.1.0/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/bootstrap-4.1.0/js/popper.min.js' %}"></script>
    <script src="{% static 'website/bootstrap-4.1.0/js/bootstrap.min.js' %}"></script>
    <meta name="title" content="Scilab computational resource, Scilab high performance computing on demand">
    <meta name="description" content="Scilab on Cloud facilitates execution of the codes for particular example(s) online. The results can then be verified with the solved example(s) from the textbook. It is also possible to change the values of the variables and in fact, the code itself, and execute it. In addition to the given examples, one can also copy and paste (or) write a new code in the input box provided and execute the same.">
    <meta name="keywords" content="scilab on cloud,scilab online execute,scilab online compiler,scilab computation,calcul scientifique,numerical computation,scilab computing online,scilab calculator">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <img class="navbar-brand" src="{% static 'website/images/home-logo.png' %}" alt="logo" style="height:40px;width:30px">
        <a class="navbar-brand" href="#">Scilab on cloud</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                {% if user and not user.is_anonymous %} {% if not user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="" id="search_book" data-toggle="modal" data-target="#search_wrapper">Search Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="about-us" data-toggle="modal" data-target="#about_wrapper">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="invitation" data-toggle="modal" data-target="#invitation_wrapper">Invitation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="contact" data-toggle="modal" data-target="#contact_wrapper">Contact Us</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/review" id="contact" data-toggle="modal" data-target="#review-interface">Review Interface</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a data-key="logout" href="/logout">Log out</a>
                </li>
                <li class="nav-item">
                    <a style="color:red">Hello, {{ user.get_full_name }}!</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="" id="search_book" data-toggle="modal" data-target="#search_wrapper">Search Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="about-us" data-toggle="modal" data-target="#about_wrapper">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="invitation" data-toggle="modal" data-target="#invitation_wrapper">Invitation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" id="contact" data-toggle="modal" data-target="#contact_wrapper">Contact Us</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="https://old.cloud.scilab.in/" target="_blank"> Old Scilab on Cloud</a>
                </li>
                <li class="nav-item">
                    <a href="https://scilab.in" target="_blank">
                        <img class="navbar-brand" src="{% static 'website/images/scilab-logo.png' %}" alt="logo" style="width:100px">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container small">
        <form class="col-12">
            <div id="main-category-wrapper" class="form-row form-group">
                <label class="col-sm-2 col-form-label font-weight-bold">Main Category :</label>
                <select id="main_categories" class="form-control-sm col-sm-10">
                    <option value="0">Select Main Category</option>
                    {% for category in catg %} {% if maincat_id == category.category_id %}
                    <option value="{{ category.category_id }}" selected>{{ category.maincategory }}</option>
                    {% else %}
                    <option value="{{ category.category_id }}">{{ category.maincategory }}</option>
                    {% endif %} {% endfor %}
                </select>
            </div>

            <div id="category-wrapper" class="form-row form-group">
                <label for="disabledInput" class="col-sm-2 col-form-label font-weight-bold">Sub Category :</label>
                <select id="categories" class="form-control-sm col-sm-8">
                    <option value="0">Select Subcategory</option>
                    {% for category in subcatg %} {% if subcategory_id == category.subcategory_id %}
                    <option value="{{ category.subcategory_id }}" selected>{{ category.subcategory }}</option>
                    {% else %}
                    <option value="{{ category.subcategory_id }}">{{ category.subcategory }}</option>
                    {% endif %} {% endfor %}
                </select>
                <a href="#" class="extra-link col-sm-2" id="contributor">+Contributor</a>
            </div>
            <div id="books-wrapper" class="form-row form-group">
                <label for="disabledInput" class="col-sm-2 col-form-label font-weight-bold">Book :</label>
                <select id="books" class="form-control-sm col-sm-8">
                    <option value="">Select Book </option>
                    {% for book in books %} {% if book_id == book.id %}
                    <option value="{{ book.id }}" selected>{{ book.book }} (by {{ book.author }})</option>
                    {% else %}
                    <option value="{{ book.id }}">{{ book.book }} (by {{ book.author }})</option>
                    {% endif %} {% endfor %}
                </select>
                <a href="#" class="extra-link col-sm-2" id="download-book">Download Book</a>
            </div>
            <div id="chapters-wrapper" class="form-row form-group">
                <label for="disabledInput" class="col-sm-2 col-form-label font-weight-bold">Chapter :</label>
                <select id="chapters" class="form-control-sm col-sm-8">
                    <option value="">Select Chapter</option>
                    {% for chapter in chapters %} {% if chapter_id == chapter.id %}
                    <option value="{{ chapter.id }}" selected>{{ chapter.number }} - {{ chapter.name }}</option>
                    {% else %}
                    <option value="{{ chapter.id }}">{{ chapter.number }} - {{ chapter.name }}</option>
                    {% endif %} {% endfor %}
                </select>
                <a href="#" class="extra-link col-sm-2" id="download-chapter">Download Chapter</a>
            </div>
            <div id="examples-wrapper" class="form-row form-group">

                <label for="disabledInput" class="col-sm-2 col-form-label font-weight-bold">Example :</label>
                <select id="examples" class="form-control-sm col-sm-8">
                    <option value="0">Select Example</option>
                    {% for example in examples %} {% if eid == example.id %}
                    <option value="{{ example.id }}" selected>{{ example.number }} - {{ example.caption }}</option>
                    {% else %}
                    <option value="{{ example.id }}">{{ example.number }} - {{ example.caption }}</option>
                    {% endif %} {% endfor %}
                </select>
                <a href="#" class="extra-link col-sm-2" id="download-example">Download Example</a>
            </div>
            <div id="revisions-wrapper" class="form-row form-group">
                <label for="disabledInput" class="col-sm-2 col-form-label font-weight-bold">Revision: </label>
                <select id="revisions" class="form-control-sm col-sm-3">
                    <option value="">Select a revision</option>
                    {% for revision in revisions %} {% if revision.sha == commit_sha %}
                    <option value="{{ revision.sha }}" selected>{{ forloop.counter }} - {{ revision.commit.message }}</option>
                    {% else %}
                    <option value="{{ revision.sha }}">
                        {{ forloop.counter }} - {{ revision.commit.message }}
                    </option>
                    {% endif %} {% endfor %}
                </select>
                <label for="disabledInput" class="col-sm-1 col-form-label font-weight-bold">Diff with: </label>
                <select id="revisions-diff" class="form-control-sm col-sm-3">
                    <option value="">Select a revision</option>
                    {% for revision in revisions %}
                    <option value="{{ revision.sha }}">
                        {{ forloop.counter }} - {{ revision.commit.message }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </form>
        <!-- -------------------------------------------------------------------------------------- -->
    </div>
    <!---------- container----------------- -->
    <div class="container-fluid text-dark" style="background: #eeeeee;">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label for="code">Scilab code:</label>
                        </div>
                        <div class="col-2 float-left">
                            {% if ex_views_count == NULL %}
                            <i class="views-count fa fa-eye" id="example_views_count" aria-hidden="true">
                                        </i> {% else %}
                            <i class="views-count fa fa-eye" id="example_views_count" aria-hidden="true">
                                        {{ ex_views_count }}
                                    </i> {% endif %}
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2 text-primary">
                            <span id="review-link">
                            {% if review %}
                            <a href="{{ review_url}}" id="review" target="_blank">{{ review }} Review
                            </a>
                            {% else %}
                            <a href="#" id="review" target="_blank"></a>
                            {% endif %}
                            </span>
                        </div>
                        <div class="col-1">
                            <div class="float-right">
                                <a href="#" id="toggle-code">
                                    <img src="{% static 'website/images/icon-toggle.png'%}">
                                </a>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="float-right">
                                <a href="#" id="fullscreen-code">
                                    <img src="{% static 'website/images/icon-fullscreen.png'%}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <textarea id="code" class="form-control" rows="5" placeholder="Write a new code or select existing from above category..." wrap="hard">{{ code }}</textarea>
                    <br>
                    <a id="execute" class="btn btn-dark text-white"><span id="execute-inner">Execute</span></a>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="row">
                        <div class="col-10">
                            <label for="result">Result:</label>
                        </div>
                        <div class="col-1">
                            <div class="float-right">
                                <a href="#" id="toggle-result">
                                    <img src="{% static 'website/images/icon-toggle.png'%}">
                                </a>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="float-right">
                                <a href="#" id="fullscreen-result">
                                    <img src="{% static 'website/images/icon-fullscreen.png'%}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <textarea id="result" class="form-control" rows="5"></textarea>
                    <br>
                    <a id="bug" href="" class="btn btn-dark text-white float-right" data-toggle="modal" data-target="#bug_form_wrapper">Report bug / Give Feedback</a>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------- -->
    <!---------- container----------------- -->
    <div class="container-fluid bg-dark text-light">
        <br>
        <div class="row">

            <div class="col-4">
                <a href="https://fossee.in" target="_blank"><img class="bg-white img-responsive" src="{% static 'website/images/fossee-logo.png' %}" alt="logo" style="width:100px;height: 45px;"></a>
            </div>
            <div class="col-4">
                <a href="http://garudaindia.in" target="_blank"><img class="bg-white img-responsive mx-auto d-block" src="{% static 'website/images/garuda_logo.png' %}" alt="logo" style="width:100px;height: 45px;"></a>
            </div>

            <div class="col-4">
                <a href="https://iitb.ac.in" target="_blank" class="float-right"><img class="bg-white img-responsive" src="{% static 'website/images/iitb-logo.png' %}" alt="logo" style="width:50px;height: 45px;"></a>
            </div>

        </div>
        <div class="row  small">
            <div class="col">
                <p class="text-center">Scilab is a trademark of <a href="https://www.inria.fr" target="_blank">Inria</a> (registered at the INPI for France and the rest of the World) and Scilab Enterprises is granted exclusive rights for Scilab Trademark.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <p class="float-left"><a href="#" id="disclaimer" data-toggle="modal" data-target="#disclaimer-text">Disclaimer</a></p>
            </div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-2">
                <a href="https://stats.fossee.in/awstats/awstats.pl?config=cloud.scilab.in" class="float-right" target="_blank">View Stats <i class="fa fa-bar-chart text-danger"></i></a>
            </div>
        </div>
    </div>
    <!-- -------------------------------- -->
    <!-- disclaimer modal -->
    <div class="modal" id="disclaimer-text">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-primary">Disclaimer</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="text-justify">Every effort is made to make all the codes to run smoothly. However, Scilab Cloud takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues and code not producing accurate outputs due to any toolboxes.
                    </p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- -------------disclaimer modal end------------------- -->
    <!-- about us -->
    <div class="modal" id="about_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-primary">About Scilab on GARUDA Cloud.</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="text-justify">
                        Scilab on Cloud facilitates execution of the codes for particular example(s) online. The results can then be verified with the solved example(s) from the textbook. It is also possible to change the values of the variables and in fact, the code itself, and execute it. In addition to the given examples, one can also copy and paste (or) write a new code in the input box provided and execute the same. <a href="http://scilab.in/scilab-on-cloud" target="_blank">Read more..</a>
                    </p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- --------------------about us modal ends------------------ -->
    <!-- contributor -->
    <div class="modal" id="contributor_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title text-primary"><u>Contributor details</u></h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Contributor name</td>
                                <td><span id="full_name"></span></td>
                            </tr>
                            <tr>
                                <td>Mentor</td>
                                <td><span id="faculty"></span></td>
                            </tr>
                            <tr>
                                <td>Book Reviewer</td>
                                <td><span id="reviewer"></span></td>
                            </tr>
                            <tr>
                                <td>College</td>
                                <td><span id="university"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- --------------------contributor modal ends------------------ -->

    <!-- invitation -->
    <div class="modal" id="invitation_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title text-primary">Contribute to Scilab Textbook Companion Project / Scilab on GARUDA Cloud.</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="text-justify">
                        The FOSSEE team has created a submission portal that allows the code for each example to be uploaded individually. The Textbook Companion Project aims to port solved examples from standard textbooks using an open source software system, such as Scilab.
                        <a href="http://scilab.in/Textbook_Companion_Project" target="_blank">Read more..</a>
                    </p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- --------------------contact us modal ends------------------ -->
    <!-- invitation -->
    <div class="modal" id="contact_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title text-primary">Send us your valuable suggestions and feedback that shall enable us to enhance our work.</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="text-justify">
                        If you wish to contribute to our activities such as <b>Lab Migration, Textbook 
                        Companion, SciLinks, Scilab on Cloud, Scilab on Aakash,</b> please write to
                        <a href="mailto: contact@scilab.in">contact[at]scilab[dot]in</a>. For feedback on Lab Migration (or) Textbook Companion,
                        <a href="http://scilab.in/feedbacks" target="_blank">click here</a>.
                    </p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- --------------------invitation modal ends------------------ -->
    <!-- Search Modal -->

    <div class="modal" id="search_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Search book</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="input-group">
                        <input id="search-input" type="text" class="form-control" placeholder="Enter book or author name">
                        <span class="input-group-btn">
                    <button id="search" class="btn btn-info" type="button">Search</button>
                </span>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div id="relevant" class="col-4 small">
                        </div>
                        <div id="popular" class="col-4 small bg-light text-primary" style="word-wrap: break-word;overflow:auto;">
                        </div>
                        <div id="recent" class="col-4 small bg-light text-primary" style="word-wrap: break-word;overflow:auto;">
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ---------- search modal end ----------------- -->
    <div class="modal" id="bug_form_wrapper">
        {% include "bug-form.html" %}
    </div>
    <!-- -plotbox wrapper ---------------------------------- -->
    <div class="modal" id="plotbox_wrapper">
        <div class="modal-dialog">
            <div class="modal-content" style="width: auto;">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title text-primary"></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div id="plotbox" class="modal-body">

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a href="" class="btn btn-info float-left" role="button" id="plot_download">Download</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- -- plotbox wrapper ends---------------------------------- -->
    <!-- diff modal -->
    <div class="modal" id="diff_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">    Diff between [1]
                        <strong>
                            <span id="diff-first">
                            </span>
                        </strong>
                        and [2]
                        <strong>
                            <span id="diff-second">
                            </span>
                        </strong>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <hr>

                    <div>
                        <span class="bg-success text-white">Green text</span> -> exist in [2] but not in [1]
                        <br>
                        <span class="bg-danger text-white">Red text</span> -> exist in [1] but not in [2]
                    </div>

                    <hr>

                    <div id="diff-area" style="word-wrap: break-word;">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- -- diff wrapper ends---------------------------------- -->
    <script src="{% static 'website/js/codemirror.js'%}"></script>
    <script src="{% static 'website/js/javascript.js'%}"></script>
    <script src="{% static 'website/js/fullscreen.js'%}"></script>
    <script src="{% static 'website/js/placeholder.js'%}"></script>
    <script src="{% static 'website/js/cloud.js' %}"></script>
    <script src="{% static 'website/js/jsdiff.js'%}"></script>
    {% csrf_token %}
</body>

</html>
