<h6><u>About Scilab on GARUDA Cloud.</u></h6>
<p>
    Scilab on Cloud facilitates execution of the codes for particular example(s) 
    online. The results can then be verified with the solved example(s) from the 
    textbook. It is also possible to change the values of the variables and in fact, 
    the code itself, and execute it. In addition to the given examples, one can also 
    copy and paste (or) write a new code in the input box provided and execute the 
    same. <a href="http://scilab.in/scilab-on-cloud" target="_blank">Read more..</a>
</p>
